<html lang="en" ng-app="app">
    <head>
        <title>Smart Face Mask - Report Data</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../img/favicon.svg" rel="shortcut icon" sizes="32x32" >
        <link href="../css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../css/barraprogreso.css" rel="stylesheet" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lumen/bootstrap.min.css" rel="stylesheet"/>

        <script src="../js/angular.js" type="text/javascript"></script>
        <script src="../js/angular-route.js" type="text/javascript"></script>
        <script src="../js/jquery.min.js" type="text/javascript"></script>
        <script src="../js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../js/Chart.bundle.min.js" type="text/javascript"></script>        
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://kit.fontawesome.com/92f6e27e1c.js"></script>
        <script src="../js/console.image.js" type="text/javascript"></script>
        <script src="../js/lightbox.js" type="text/javascript"></script>

    </head>
    <body ng-controller="ReportDataController">
        <div id="contenedor_carga">
            <div id="carga">
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="../">Smart Face Mask </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" onclick="initiation();" >Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item " mr-auto>
                        <a class="nav-link" onclick="dailyData();">Daily Data</a>
                    </li>
                    <!--                    <li class="nav-item">
                                            <a class="nav-link" onclick="monthData();" >Monthly Data</a>
                                        </li>-->
                    <li class="nav-item active">
                        <a class="nav-link" onclick="reportData();" >Interval report</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button type="button" class="btn btn-primary" onclick="openModalAlert();">
                        Notifications <span class="badge badge-light">{{alertData.length}}</span>
                    </button>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{userData.names}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a onclick="profile();" ><button class="dropdown-item" type="button">Profile</button> </a>
                            <a onclick="setting();"><button class="dropdown-item" type="button">Configuration</button></a>
                            <a onclick="logOff();"><button class="dropdown-item" type="button">Log Off</button></a>
                        </div>
                    </div>
                    <div>
                        <a href="{{userData.imguser}}"  data-lightbox="roadtrip"  >  <img  ng-src="{{userData.imguser}}"  alt="" width="36" style="display:block; margin:auto;  height:auto; max-width: 100%;right:2%;padding: 0;"/></a>
                    </div>
                </form>
            </div>
        </nav>

        <div class="">
            <input type="text" style="border: none">
        </div>
        <div class="container">
            <h5 style="font-family: sans-serif;">Concentration of Gases Obtained:</h5>
            <div class="row" >      
                <div class="col-3"  >   
                    <label>Start date:</label>
                    <input type="date" class="form-control" id="dateInit">
                </div>
                <div class="col-3"  >   
                    <label>End date:</label>
                    <input type="date" class="form-control" id="dateEnd">

                </div>
                <div style="padding-top: 5%;">
                    <button class="btn btn-success" ng-click="recargeAll();"><i class="fab fa-searchengin"></i></button>
                </div>
            </div>
            <!--            <div class="row">
                            <div class="form-group col-md-12">
                                <label for="exampleSelect1">Choose the data you want to see</label>
                                <select class="form-control" id="selectOutInData">
                                    <option value="1">Concentration of gases on the outside of the mask</option>
                                    <option value="2">Concentration of gases inside the mask</option>
                                </select>
                            </div>
                        </div>-->
            <div class="">
                <input type="text" style="border: none">
            </div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-ppm" role="tab" aria-controls="pills-ppm" aria-selected="true" ng-click="carbonDioxideData();">Air Quality</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" ng-click="carbonDioxideData();">Carbon Dioxide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" ng-click="carbonMonoxideData();">Carbon Monoxide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false" ng-click="ammoniaData();">Ammonia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-metano-tab" data-toggle="pill" href="#pills-metano" role="tab" aria-controls="pills-metano" aria-selected="false" ng-click="butanoData();">Butano</a>
                </li>               
                <li class="nav-item">
                    <a class="nav-link" id="pills-temperature-tab" data-toggle="pill" href="#pills-temperature" role="tab" aria-controls="pills-temperature" aria-selected="false" ng-click="temperatureData();">Temperature</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-humidity-tab" data-toggle="pill" href="#pills-humidity" role="tab" aria-controls="pills-humidity" aria-selected="false" ng-click="humidityData();">Humidity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-presion-tab" data-toggle="pill" href="#pills-presion" role="tab" aria-controls="pills-presion" aria-selected="false" ng-click="pressureData();">Pressure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-altitud-tab" data-toggle="pill" href="#pills-altitud" role="tab" aria-controls="pills-altitud" aria-selected="false" ng-click="altitudeData();">Altitude</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-ppm" role="tabpanel" aria-labelledby="pills-home-tab">
                    <label style="padding: 2.5%; top: 1%;font-family: sans-serif;">Air quality: </label>
                    <button class="btn btn-outline-info" onclick="abrirModal0();">View Report</button>
                    <div class="col-lg-12">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">

                                <canvas id="myChart0R" width="100" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <label style="padding: 2.5%; top: 1%;font-family: sans-serif;">Carbon Dioxide Concentration: </label>
                    <button class="btn btn-outline-info" onclick="abrirModal();">View Report</button>
                    <div class="col-lg-12">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">

                                <canvas id="myChartR" width="100" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <label style="padding: 2.5%; top: 1%;font-family: sans-serif;">Carbon Monoxide Concentration: </label> 
                    <button class="btn btn-outline-info" onclick="abrirModal1();">View Report</button>
                    <div class="col-lg-12">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">

                                <canvas id="myChart1R" width="100" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <label style="padding: 2.5%; top: 1%;font-family: sans-serif;">Ammonia Concentration: </label> 
                    <button class="btn btn-outline-info" onclick="abrirModal2();">View Report</button>
                    <div class="col-lg-12">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">

                                <canvas id="myChart2R" width="100" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-metano" role="tabpanel" aria-labelledby="pills-metano-tab">
                    <label style="padding: 2.5%; top: 1%;font-family: sans-serif;">Nitrogen Dioxide Concentration: </label> 
                    <button class="btn btn-outline-info" onclick="abrirModal3();">View Report</button>
                    <div class="col-lg-12">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">

                                <canvas id="myChart3R" width="100" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-temperature" role="tabpanel" aria-labelledby="pills-temperature-tab">
                    <label style="padding: 2.5%; top: 1%;font-family: sans-serif;">Temperature Grades: </label> 
                    <button class="btn btn-outline-info" onclick="abrirModalTemperatura();">View Report</button>
                    <div class="col-lg-12">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">

                                <canvas id="myChart4R" width="100" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-humidity" role="tabpanel" aria-labelledby="pills-humidity-tab">
                    <label style="padding: 2.5%; top: 1%;font-family: sans-serif;">Humidity Concentrations: </label> 
                    <button class="btn btn-outline-info" onclick="abrirModalHumidity();">View Report</button>
                    <div class="col-lg-12">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">

                                <canvas id="myChart5R" width="100" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-presion" role="tabpanel" aria-labelledby="pills-presion-tab">
                    <label style="padding: 2.5%; top: 1%;font-family: sans-serif;">Pressure Grades: </label> 
                    <button class="btn btn-outline-info" onclick="abrirModalPresion();">View Report</button>
                    <div class="col-lg-12">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">

                                <canvas id="myChart6R" width="100" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-altitud" role="tabpanel" aria-labelledby="pills-altitud-tab">
                    <label style="padding: 2.5%; top: 1%;font-family: sans-serif;">Altitude Concentrations: </label> 
                    <button class="btn btn-outline-info" onclick="abrirModalAltitud();">View Report</button>
                    <div class="col-lg-12">
                        <div class="au-card m-b-30">
                            <div class="au-card-inner">

                                <canvas id="myChart7R" width="100" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!----0 MODAL Alert------>
        <div class="modal fade bd-example-modal-md" id="modalAlert" tabindex="-1" role="dialog"   aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-headerM">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" style="padding-top: 1%; padding-top:2.5%;text-align: center;font-size: 25px;">Poor Air Quality Alert</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <input type="text" style="border: none" readonly="">
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <table class="table table-responsive-md table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Alert Type</th>
                                        <th scope="col">Internal Concentration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dataAlert in alertData">
                                        <th scope="row">{{dataAlert.datetimegistration}}</th>
                                        <td>{{dataAlert.ppminternal}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-md" id="staticBackdrop0" tabindex="-1" role="dialog" 
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-headerM">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" style="padding-top: 1%; padding-top:2.5%;text-align: center;font-size: 25px;">General Air Quality Data</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <input type="text" style="border: none" readonly="">
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <table class="table table-responsive-md table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Concentration Levels</th>

                                        <th scope="col">State</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dataQuality in dataairQuality">
                                        <th scope="row">{{dataQuality.datetimegistration}}</th>
                                        <td>{{dataQuality.ppminternal}}</td>
                                        <td ng-if="dataQuality.alert === 't'"><i class="fas fa-skull-crossbones"></i></td>
                                        <td ng-if="dataQuality.alert === 'f'"><i class="fas fa-thumbs-up"></i></td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!----PRIMER MODAL DIOXIDO DE CARBONO------>
        <div class="modal fade bd-example-modal-md" id="staticBackdrop1" data-backdrop="static" tabindex="-1" role="dialog" 
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-headerM">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" style="padding-top: 1%; padding-top:2.5%;text-align: center;font-size: 25px;">General Carbon Dioxide Level Data</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <input type="text" style="border: none" readonly="">
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <table class="table table-responsive-md table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Concentration Levels</th>

                                        <th scope="col">State</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dataCO2 in datacarbonDioxide">
                                        <th scope="row">{{dataCO2.datetimegistration}}</th>
                                        <td>{{dataCO2.ppminternal}}</td>
                                        <td ng-if="dataCO2.alert === 't'"><i class="fas fa-skull-crossbones"></i></td>
                                        <td ng-if="dataCO2.alert === 'f'"><i class="fas fa-thumbs-up"></i></td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!----TERMINA EL MODAL------>

        <!----SEGUNDO MODAL MOXIDO DE CARBONO------>
        <div class="modal fade bd-example-modal-md" id="staticBackdrop2" data-backdrop="static" tabindex="-1" role="dialog" 
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-headerM">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" style="padding-top: 1%; padding-top:2.5%;text-align: center;font-size: 25px;">General Carbon Monoxide Level Data</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <input type="text" style="border: none" readonly="">
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <table class="table table-responsive-md table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Concentration Levels</th>

                                        <th scope="col">State</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dataCO in datacarbonMonoxide">
                                        <th scope="row">{{dataCO.datetimegistration}}</th>
                                        <td>{{dataCO.ppminternal}}</td>
                                        <td ng-if="dataCO.alert === 't'"><i class="fas fa-skull-crossbones"></i></td>
                                        <td ng-if="dataCO.alert === 'f'"><i class="fas fa-thumbs-up"></i></td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!----TERMINA EL MODAL------>

        <!----TERCER MODAL AMONIACO------>

        <div class="modal fade bd-example-modal-md" id="staticBackdrop3" data-backdrop="static" tabindex="-1" role="dialog" 
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-headerM">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" style="padding-top: 1%; padding-top:2.5%;text-align: center;font-size: 25px;">General Ammonia Level Data</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <input type="text" style="border: none" readonly="">
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <table class="table table-responsive-md table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Concentration Levels</th>

                                        <th scope="col">State</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dataNH3 in dataammonia">
                                        <th scope="row">{{dataNH3.datetimegistration}}</th>
                                        <td>{{dataNH3.ppminternal}}</td>
                                        <td ng-if="dataNH3.alert === 't'"><i class="fas fa-skull-crossbones"></i></td>
                                        <td ng-if="dataNH3.alert === 'f'"><i class="fas fa-thumbs-up"></i></td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!----TERMINA EL MODAL------>

        <!----CUARTO MODAL DIOXIDO DE NITROGENO------>

        <div class="modal fadebd-example-modal-md" id="staticBackdrop4" data-backdrop="static" tabindex="-1" role="dialog" 
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-headerM">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" style="padding-top: 1%; padding-top:2.5%;text-align: center;font-size: 25px;">General Butano Dioxide Level Data</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <input type="text" style="border: none" readonly="">
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <table class="table table-responsive-md table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Concentration Levels</th>

                                        <th scope="col">State</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dataC4H10 in dataButano">
                                        <th scope="row">{{dataC4H10.datetimegistration}}</th>
                                        <td>{{dataC4H10.ppminternal}}</td>
                                        <td ng-if="dataC4H10.alert === 't'"><i class="fas fa-skull-crossbones"></i></td>
                                        <td ng-if="dataC4H10.alert === 'f'"><i class="fas fa-thumbs-up"></i></td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!----TERMINA EL MODAL------>

        <!----CUARTO MODAL DIOXIDO DE NITROGENO------>

        <div class="modal fade bd-example-modal-md" id="staticBackdropTemperature" data-backdrop="static" tabindex="-1" role="dialog" 
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-headerM">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" style="padding-top: 1%; padding-top:2.5%;text-align: center;font-size: 25px;">General Temperature Grades Data</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <input type="text" style="border: none" readonly="">
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <table class="table table-responsive-md table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Concentration Grades</th>

                                        <th scope="col">State</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dataC4H10 in dataButano">
                                        <th scope="row">{{dataC4H10.datetimegistration}}</th>
                                        <td>{{dataC4H10.ppminternal}}</td>
                                        <td ng-if="dataC4H10.alert === 't'"><i class="fas fa-skull-crossbones"></i></td>
                                        <td ng-if="dataC4H10.alert === 'f'"><i class="fas fa-thumbs-up"></i></td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <!----CUARTO MODAL DIOXIDO DE NITROGENO------>

        <div class="modal fade bd-example-modal-md" id="staticBackdropHumidity" data-backdrop="static" tabindex="-1" role="dialog" 
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-headerM">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" style="padding-top: 1%; padding-top:2.5%;text-align: center;font-size: 25px;">General Humidity Level Data</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <input type="text" style="border: none" readonly="">
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <table class="table table-responsive-md table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Concentration Levels</th>

                                        <th scope="col">State</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dataC4H10 in dataButano">
                                        <th scope="row">{{dataC4H10.datetimegistration}}</th>
                                        <td>{{dataC4H10.ppminternal}}</td>
                                        <td ng-if="dataC4H10.alert === 't'"><i class="fas fa-skull-crossbones"></i></td>
                                        <td ng-if="dataC4H10.alert === 'f'"><i class="fas fa-thumbs-up"></i></td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-md" id="staticBackdropTemperature" data-backdrop="static" tabindex="-1" role="dialog" 
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-headerM">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" style="padding-top: 1%; padding-top:2.5%;text-align: center;font-size: 25px;">General Temperature Grades Data</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <input type="text" style="border: none" readonly="">
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <table class="table table-responsive-md table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Concentration Grades</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in dataTemperature">
                                        <th scope="row">{{data.datetimegistration}}</th>
                                        <td>{{data.temperature}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-md" id="staticBackdropHumidity" data-backdrop="static" tabindex="-1" role="dialog" 
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-headerM">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" style="padding-top: 1%; padding-top:2.5%;text-align: center;font-size: 25px;">General Humidity Level Data</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <input type="text" style="border: none" readonly="">
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <table class="table table-responsive-md table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Concentration Levels</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in dataHumidity">
                                        <th scope="row">{{data.datetimegistration}}</th>
                                        <td>{{data.humidity}}</td>

                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-md" id="staticBackdropPresion" data-backdrop="static" tabindex="-1" role="dialog" 
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-headerM">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" style="padding-top: 1%; padding-top:2.5%;text-align: center;font-size: 25px;">General Pressure Level Data</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <input type="text" style="border: none" readonly="">
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <table class="table table-responsive-md table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Concentration Levels</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in dataPressure">
                                        <th scope="row">{{data.datetimegistration}}</th>
                                        <td>{{data.pressure}}</td>

                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-md" id="staticBackdropAltitud" data-backdrop="static" tabindex="-1" role="dialog" 
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content ">
                    <div class="modal-headerM">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" style="padding-top: 1%; padding-top:2.5%;text-align: center;font-size: 25px;">General Altitude Level Data</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <input type="text" style="border: none" readonly="">
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <table class="table table-responsive-md table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Hour</th>
                                        <th scope="col">Concentration Levels</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in dataAltitude">
                                        <th scope="row">{{data.datetimegistration}}</th>
                                        <td>{{data.altitude}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <!----TERMINA EL MODAL------>
        <script src="../js/angular/app.js" type="text/javascript"></script>
        <script src="../js/angular/ReportDataController.js" type="text/javascript"></script>
        <script src="../js/own/util.js" type="text/javascript"></script>
    </body>
</html>
